body{
    margin:0;
    background:#FFFFFF;
    height: 771px;
    padding: 0px;
    font-family: arial;
    width: 1366px;
    height: 1183px;
}


/* start of nav styles */

/* nav styles */
.nav{
    height: 88px;
    width: 1366px;
    box-shadow: 0px 3px 6px #00000029;
    padding: 0px;
    margin: 0px;
}
    


#nav ul li{
    padding-left: 2em;
    padding-right: 2em;


}

#nav ul{
    padding: 0px;
    margin: 0px;
}


#nav ul li{
    display: inline;
    list-style-type: none;
    top: 33px;
    left: 638px;

    text-align: left;
    font:  14px Arial;
    letter-spacing: 0;
    /* color: #229DE8; */
    opacity: 1;

            
}
#nav ul{
    /* display: inline; */
    padding-top: 31px;

}

#call{
    height: 38px;
    width: 38px;
    position: absolute;
    left: 120px;
    top: 24px;
}


#nav ul li.call{
    padding-left: 160px;
    padding-right:22em;
    font-size: 18px;
    font-weight: bold; 
    color: #229DE8;
     
}

/* link styles */

a{
    color: #229DE8;
}


a:link{
    text-decoration: none;
    color: #229DE8;
}

a:hover{
    color: #B60B05;
}


ul li span#cal{
    color:#B60B05;
}

/* end of nav styles */


.history{
    position: absolute;
    top: 116px;
    left: 149px;
    border-bottom: #707070 1px solid;
    padding-bottom: 3em;
    width: 1080px;
}

.history h3{
    font-weight: normal;
    letter-spacing: 1px;
}

#date{
    background-color: white;
    width: 217px;
    height: 32px;
    border: 0.5px solid #707070;
    border-radius: 4px;
    text-align: right;
    padding-right: 16px;
    padding-top: 8px;
    position: absolute;
    top: 5em;
}

.sub{
    position: absolute;
    top: 3.7em;
    left: 265px;
}

#sub{
    background-color: white;
    width: 217px;
    height: 32px;
    border: 0.5px solid #707070;
    border-radius: 4px;
    text-align: right;
    padding-right: 16px;
    padding-top: 8px;
    margin-top: 2px;

}


#search{
    background-color:#229DE8;
    border: #229DE8 solid 1.5px;
    width: 177px;
    height: 45px;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    position: absolute;
    top: 5em;
    left: 525px;

}


table td{
    font-size: 15px;
}


table td#td1{
    padding-left: 91px;
    padding-right: 75px;
}

table td#td2{
    padding-right: 107px;
}

#view{
    border: 1px solid #1583D4;
    border-radius: 3px;
    height: 40px;
    width: 166px;
    color: #1583D4;
    text-align: center;
    font-size: 15px;
    padding-left: 22px;
    margin: 3px 0px 3px 0px;
}


div.table{
    position: absolute;
    top: 300px;
    left: 149px;
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 3px;
    opacity: 0.86;
    padding: 0px 22px 0px 22px;
}


div.table2{
    position: absolute;
    top: 371px;
    left: 149px;
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 3px;
    opacity: 0.86;
    padding: 0px 22px 0px 22px;
}


div.table3{
    position: absolute;
    top: 442px;
    left: 149px;
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 3px;
    opacity: 0.86;
    padding: 0px 22px 0px 22px;
}


div.table4{
    position: absolute;
    top: 513px;
    left: 149px;
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 3px;
    opacity: 0.86;
    padding: 0px 22px 0px 22px;
}


/* start of footer */
footer{
    
    position:absolute;
    top:738px;
    background-color:#229DE8;
    width:1266px;
    height: 90px;
    margin: 0 50px 0 50px;
    border-radius:48px 48px 0 0;
}

footer ul{
    padding-top: 7px;
}

footer ul li{
    
    display: inline;
    font-family: arial;
    color: white;
}

.two{
    padding:0 30px 0 30px;
}

.lone{
    padding-right:280px;
}

.bird{
    padding-right:450px;
}

/* end of footer */