body{
    margin:0;
    background:#FFFFFF;
    height: 771px;
    padding: 0px;
    font-family: arial;
    width: 1366px;
    height: 1183px;
}


/* start of nav styles */

/* nav styles */
.nav{
    height: 88px;
    width: 1366px;
    box-shadow: 0px 3px 6px #00000029;
    padding: 0px;
    margin: 0px;
}
    


#nav ul li{
    padding-left: 2em;
    padding-right: 2em;


}

#nav ul{
    padding: 0px;
    margin: 0px;
}


#nav ul li{
    display: inline;
    list-style-type: none;
    top: 33px;
    left: 638px;

    text-align: left;
    font:  14px Arial;
    letter-spacing: 0;
    /* color: #229DE8; */
    opacity: 1;

            
}
#nav ul{
    /* display: inline; */
    padding-top: 31px;

}

#call{
    height: 38px;
    width: 38px;
    position: absolute;
    left: 120px;
    top: 24px;
}


#nav ul li.call{
    padding-left: 160px;
    padding-right:22em;
    font-size: 18px;
    font-weight: bold; 
    color: #229DE8;
     
}

/* link styles */

a{
    color: #229DE8;
}


a:link{
    text-decoration: none;
    color: #229DE8;
}

a:hover{
    color: #B60B05;
}


ul li span#cal{
    color:#B60B05;
}

/* end of nav styles */

.plan h3{
    color: #229DE8;
    font-size: 36px;
    position: absolute;
    top: 120px;
    left: 142px;

}

.plan p{
    position: absolute;
    top: 191px;
    left: 142px;
    width: 599px;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 1px;
}

.max{   
        position: absolute;
        top: 300px;
        left: 142px;
        width: 322px;
        height: 369px;
        box-shadow: 0px 3px 6px #00000042;
        border-radius: 5px;
}

#grp{
    position: absolute;
    color: white;
    top:10px;
    left: 32px
}

#two{
    position: absolute;
    top: 50px;
    left: 104px;
    color: white;
    font-size: 22px;
}

#max{
    position: absolute;
    top:137px;
    left: 31px;
}

#tick{
    padding-right: 12px;
}

span.bold{
    font-weight: bold;
    color: #B60B05;
}

#max{
    height: 230px;
}

#start{
    position: absolute;
    bottom: -4px;
    font-weight: bold;
    color:#229DE8;
    border-top: 1px solid #229DE8;
    width: 322px;
    padding-top: 15px;
    text-align: center;

    }


    .lite{   
        position: absolute;
        top: 300px;
        left: 511px;
        width: 322px;
        height: 369px;
        box-shadow: 0px 3px 6px #00000042;
        border-radius: 5px;
}


footer{
    
    position:absolute;
    top:738px;
    background-color:#229DE8;
    width:1266px;
    height: 90px;
    margin: 0 50px 0 50px;
    border-radius:48px 48px 0 0;
}

footer ul{
    padding-top: 7px;
}

footer ul li{
    
    display: inline;
    font-family: arial;
    color: white;
}

.two{
    padding:0 30px 0 30px;
}

.lone{
    padding-right:280px;
}

.bird{
    padding-right:450px;
}
