body{
    margin:0;
    background:#FFFFFF;
    height: 771px;
    padding: 0px;
    font-family: arial;
    width: 1366px;
    height: 782px;
}


/* start of nav styles */

/* nav styles */
.nav{
    height: 88px;
    width: 1366px;
    box-shadow: 0px 3px 6px #00000029;
    padding: 0px;
    margin: 0px;
}
    


#nav ul li{
    padding-left: 2em;
    padding-right: 2em;


}

#nav ul{
    padding: 0px;
    margin: 0px;
}


#nav ul li{
    display: inline;
    list-style-type: none;
    top: 33px;
    left: 638px;

    text-align: left;
    font:  14px Arial;
    letter-spacing: 0;
    /* color: #229DE8; */
    opacity: 1;

            
}
#nav ul{
    /* display: inline; */
    padding-top: 31px;

}

#call{
    height: 38px;
    width: 38px;
    position: absolute;
    left: 120px;
    top: 24px;
}


#nav ul li.call{
    padding-left: 160px;
    padding-right:22em;
    font-size: 18px;
    font-weight: bold; 
    color: #229DE8;
     
}

/* link styles */

a{
    color: #229DE8;
}


a:link{
    text-decoration: none;
    color: #229DE8;
}

a:hover{
    color: #B60B05;
}


ul li span#cal{
    color:#B60B05;
}

/* end of nav styles */

.register{
    position: absolute;
    top: 168px;
    left: 161px;
}

.register h1{
    color:#229DE8;
    font-weight: normal;
    margin-bottom: 5px;
    padding:0px;
}

.register p{
    font-size: 14px;
    padding: 0px;
    margin-top: 0px;
    color: #6E7275;
    padding-bottom: 57px;
}

.register input{
    width: 417px;
    border: 0.5px solid #707070;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    padding-bottom: 16px;
}

.register input#login{
    background-color: #229DE8;
    width: 248px;
    height: 49px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding-top: 8px;
    position: absolute;
    top: 350px;
}

p#forget{
    margin-left: 306px;
    color:#229DE8;
}

.create{
    position: absolute;
    top: 168px;
    left: 758px;
    width: 444px;
}

.create h1{
    color:#229DE8;
    font-weight: normal;
    margin-bottom: 5px;
    padding:0px;
}

.create p{
    font-size: 14px;
    padding: 0px;
    margin-top: 0px;
    color: #6E7275;
    padding-bottom: 57px;
}

.create input#create{
    background-color: #229DE8;
    width: 248px;
    height: 49px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding-top: 8px;
    position: absolute;
    top: 118px;
}

   





/* start of footer */
    footer{
    
        position:absolute;
        top:782px;
        background-color:#229DE8;
        width:1266px;
        height: 90px;
        margin: 0 50px 0 50px;
        border-radius:48px 48px 0 0;
    }
    
    footer ul{
        padding-top: 7px;
    }
    
    footer ul li{
        
        display: inline;
        font-family: arial;
        color: white;
    }
    
    .two{
        padding:0 30px 0 30px;
    }
    
    .lone{
        padding-right:280px;
    }
    
    .bird{
        padding-right:450px;
    }

    /* end of footer */